ion-back-button {
    visibility: hidden;
}

.content {
   padding-top: 30%;

   h1 {
        font-size: 40px;
    }

    ion-button {
        font-size: 26px;
        height: 46px;
        --background: #9fcc8a;
        --color: black;
        margin-top: 16px;
    }

}