.jys {
    position: absolute;
    right: 0%;
    top: 0%;
    height: 56px;
    width: 56px;
}

.applicant-info {
    padding: 2em 6em 0;
    font-size: 26px;
}

.member-data {
    font-size: 26px;
    padding: 1em 3em;

    .row-title {
        background: #71ad47;
    }

    .row-data {
        background: #d6e3d0;
    }

    ion-col {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .total {
        display: block;
        padding: 16px 16px 16px 0;

        span {
            float: right;
        }
    }
}