.jys {
    position: absolute;
    right: 0%;
    top: 0%;
    height: 56px;
    width: 56px;
}

h1 {
    padding: 2em 6em 1em; 
}

.applicant-info {
    padding: 0 6em;
    font-size: 26px;
}

.items {
    font-size: 26px;
    padding: 0 6em;

    ion-button {
        font-size: 26px;
        height: 46px;
    }
}