.jys {
    position: absolute;
    right: 0%;
    top: 0%;
    height: 56px;
    width: 56px;
}

.applicant-info {
    padding: 2em 6em;
    font-size: 26px;

    .phone-number {
        padding-top: 8px;
    }
}

.member-data {
    font-size: 26px;
    padding: 1em 3em;

    .checkbox {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .add-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .add-cir {
            width: 30px;
            height: 30px;
        }
    }

    .submit {
        font-size: 20px;
    }
}