ion-button {
    font-size: 26px;
    height: 46px;
    --background: #9fcc8a;
    --color: black;
    margin-top: 16px;
}

.jys {
    position: absolute;
    right: 0%;
    top: 0%;
    height: 56px;
    width: 56px;
}

.applicant-info {
    padding: 2em 2em;
    font-size: 26px;

    .phone-number {
        padding-top: 8px;
    }

    .elec-number {
        padding-top: 8px;
    }
}

.member-data {
    font-size: 26px;
    padding: 0em 3em 1em;

    .row-title {
        background: #71ad47;
    }

    .row-data {
        background: #d6e3d0;
    }

    .col-other-color {
        background: #fbe5d7;
    }

    .checkbox {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .submit {
        font-size: 26px;
        height: 46px;
    }
}

.alert-text {
    text-align: center;
}

.singup-btn {
    padding: 1em 3em;
    text-align: center;

    ion-button {
        font-size: 26px;
        height: 46px;
        // float: right;
    }
}