<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="general-activity"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>一般活動報名</ion-title>
    <div class="jys" (click)="homePage()">
      <img src="../../../assets/image/JYTemple.jpg"/>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="applicant-info">
      <ion-grid>
        <ion-row>
          <ion-col size="1.5">
            報名者: 
          </ion-col>
          <ion-col size="2">
            陳大明
          </ion-col>
          <ion-col size="2">
            行動電話: 
          </ion-col>
          <ion-col class="phone-number">
            0987-654-321
          </ion-col>
          <ion-col size="1">
            電編:
          </ion-col>
          <ion-col class="elec-number">
            NNN-NNNNN
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div>
      <ion-grid class="member-data">
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col size="2.5">信眾</ion-col>
          <ion-col size="2.5">活動年度</ion-col>
          <ion-col size="2.5">報名活動</ion-col>
          <ion-col size="2.5">已繳金額</ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" class="checkbox"><ion-checkbox></ion-checkbox></ion-col>
          <ion-col size="2.5">陳爸爸</ion-col>
          <ion-col size="2.5">109</ion-col>
          <ion-col size="2.5">光明燈</ion-col>
          <ion-col size="2.5">$1000</ion-col>
          <ion-col size="1" (click)="memberRecord()">></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" class="checkbox"><ion-checkbox></ion-checkbox></ion-col>
          <ion-col size="2.5">陳媽媽</ion-col>
          <ion-col size="2.5">109</ion-col>
          <ion-col size="2.5">光明燈</ion-col>
          <ion-col size="2.5">$500</ion-col>
          <ion-col size="1">></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" class="checkbox"><ion-checkbox></ion-checkbox></ion-col>
          <ion-col size="2.5">陳老婆</ion-col>
          <ion-col size="2.5">109</ion-col>
          <ion-col size="2.5">光明燈</ion-col>
          <ion-col size="2.5"></ion-col>
          <ion-col size="1">></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" class="checkbox"><ion-checkbox></ion-checkbox></ion-col>
          <ion-col size="2.5">陳兒子</ion-col>
          <ion-col size="2.5">109</ion-col>
          <ion-col size="2.5">光明燈</ion-col>
          <ion-col size="2.5"></ion-col>
          <ion-col size="1">></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col size="2.5"></ion-col>
          <ion-col size="2.5"></ion-col>
          <ion-col size="2.5"></ion-col>
          <ion-col size="2.5"><ion-button class="submit" (click)="sum()">確認</ion-button></ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>
