ion-grid {
    padding: 12em 4em;
}

ion-button {
    font-size: 26px;
    height: 46px;
}

.jys {
    position: absolute;
    right: 0%;
    top: 0%;
    height: 56px;
    width: 56px;
}

span {
    font-size: 40px;
}