<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="general-activity"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>一般活動報名</ion-title>
    <div class="jys" (click)="homePage()">
      <img src="../../../assets/image/JYTemple.jpg"/>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <span>查無此信眾</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button>新增信眾</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
