<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>一般活動報名</ion-title>
    <div class="jys" (click)="homePage()">
      <img src="../../../assets/image/JYTemple.jpg"/>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="block-layer"></div>
  <div class="phone-number">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>請輸入電話號碼: </h1>
        </ion-col>
        <ion-col size="9">
          <ion-item>
            <ion-input clearInput type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1 class="float-right">活動年度</h1>
        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-checkbox class="float-right"></ion-checkbox>
        </ion-col>
        <ion-col>
          <h1>包含上一年度未繳清單</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="elecSerialNum()" class="elec">改用電編查詢</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="familyMember()" class="float-right">確認</ion-button><!--沒有輸入電話要disable-->
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="alert">
    <ion-button (click)="presentAlertMultipleButtons()">alert</ion-button>
  </div>
</ion-content>
