ion-grid {
    padding: 7rem;
    font-size: 26px;
    
    ion-item {
        margin-top: 10px;

        ion-input {
            font-size: 26px;
        }
    }
}

ion-button {
    font-size: 26px;
    height: 46px;
    --background: #9fcc8a;
    --color: black;
}

.phone-number {
    width: 100%;
    height: 100%;
    // background-image: url(../../../assets/image/lotus-bg.jpg);
    // background-position: center center;
    // background-size: cover;

    ion-checkbox {
        height: 30px;
        width: 30px;
        margin-top: 20px;
    }

    // h1 {
    //     color: white;
    // }

    .elec {
        --background: #4372c5;
        --color: white;
    }

    .float-right {
        float: right;
    }
}

// .block-layer {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0%;
//     background-color: rgba(0, 0, 0, 0.4);
// }

.jys {
    position: absolute;
    right: 0%;
    top: 0%;
    height: 56px;
    width: 56px;
}