ion-grid {
    font-size: 26px;
    padding: 6em 6em;

    ion-input {
        font-size: 26px;
        margin-bottom: 10px;
    }

    ion-button {
        font-size: 26px;
        height: 46px;
        float: right;
    }
}

.jys {
    position: absolute;
    right: 0%;
    top: 0%;
    height: 56px;
    width: 56px;
}