<ion-header style="display: none">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="general-activity-frame" (click)="generalActPage()">
    <div class="general-activity-bg"></div>
    <div class="general-activity">
      <span>一般活動報名</span>
    </div>
  </div>
  <div class="dona-food-frame" (click)="signDonaFood()">
    <div class="dona-food-bg"></div>
    <div class="dona-food">
      <span>打齋</span>
    </div>
  </div>
  <div class="dona-temple-frame" (click)="signDonaTemple()">
    <div class="dona-temple-bg"></div>
    <div class="dona-temple">
      <span>供養三寶</span>
    </div>
  </div>
  <div class="jys">
    <img src="../../../assets/image/JYTemple.jpg"/>
  </div>
  
</ion-content>
