.jys {
    position: absolute;
    right: 0%;
    top: 0%;
    height: 56px;
    width: 56px;
}

.applicant-info {
    padding: 2em 2em 1em;
    font-size: 26px;

    .phone-number {
        padding-top: 8px;
    }
}

.certifi-info {
    font-size: 26px;
    padding: 0% 5em;

    .row-title {
        background: #71ad47;
    }

    .row-data {
        background: #d6e3d0;
    }

    ion-col {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.btns {
    padding: 1em 7em;

    ion-button {
        height: 46px;
        font-size: 26px;
        --background: #9fcc8a;
        --color: black;
    }
}