.jys {
    position: absolute;
    right: 0%;
    top: 0%;
    height: 56px;
    width: 56px;
}

h1 {
    padding: 1em 7em 0em;
}

.new-member-info {
    font-size: 26px;
    padding: 1em 8em;

    ion-row {
        margin-bottom: 1em;
    }

    ion-input {
        font-size: 26px;
    }

    ion-button {
        font-size: 26px;
        height: 46px;
        float: right;
    }

    .field-name {
        float: right;
    }
}