<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="family-member"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>一般活動報名</ion-title>
    <div class="jys" (click)="homePage()">
      <img src="../../../assets/image/JYTemple.jpg"/>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="print-or-not">
    <ion-grid>
      <ion-row>
        <ion-radio-group>
        <ion-col>要不要印感謝狀？</ion-col>
        <ion-col size="2">
          <ion-item lines="none">
            <ion-label>要</ion-label>
            <ion-radio slot="start" value="biff" checked></ion-radio>
          </ion-item>
          <!-- <ion-checkbox></ion-checkbox>要 -->
          <ion-item lines="none">
            <ion-label>不用(之後無法補印)</ion-label>
            <ion-radio slot="start" value="griff"></ion-radio>
          </ion-item>
          <!-- <ion-checkbox></ion-checkbox>不用(之後無法補印) -->
        </ion-col>
        </ion-radio-group>
      </ion-row>
    </ion-grid>
  </div>

  <div class="certificate-name">
    <form>
    <ion-grid>
      <ion-row>
        <ion-col>感謝狀上要印誰的名字？</ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-checkbox></ion-checkbox>陳大明</ion-col>
        <ion-col><ion-checkbox></ion-checkbox>陳爸爸</ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-checkbox></ion-checkbox>陳媽媽</ion-col>
        <ion-col><ion-checkbox></ion-checkbox>陳老婆</ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-checkbox></ion-checkbox>陳兒子</ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" class="margintop"><ion-checkbox></ion-checkbox>名字後面加上“闔家”</ion-col>
        <ion-col></ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
          <ion-button (click)="preview()">確認</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    </form>
  </div>
</ion-content>
