// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-header {
    --background: #f5b083;
}

ion-content {
    --background: #fbe5d7;
}

.jys {
    position: absolute;
    right: 0%;
    top: 0%;
    height: 56px;
    width: 56px;
}

.picker-wrapper.sc-ion-picker-md {
    max-width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}