.jys {
    position: absolute;
    right: 0%;
    top: 0%;
    height: 56px;
    width: 56px;
}

ion-grid {
    padding: 7rem;
    font-size: 26px;
    
    ion-item {
        margin-top: 10px;

        ion-input {
            font-size: 26px;
        }
    }
}

ion-button {
    font-size: 26px;
    height: 46px;
}

.phone-number {
    width: 100%;
    height: 100%;

    ion-checkbox {
        height: 30px;
        width: 30px;
        margin-top: 20px;
    }

    h1 {
        // color: white;
    }

    .float-right {
        float: right;
    }

    .margintop {
        margin-top: 10px;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}